---
const today = new Date();
---

<footer class='min-h-[80px] border-t border-neutral-300 dark:border-neutral-700 content-center transition duration-300 max-w-5xl mx-4 lg:mx-auto '>
    <h3 class='text-primary text-center text-sm'>
        {today.getFullYear()} &copy; All rigths reserved.
    </h3>
</footer>