---
import ToggleTheme from "@/components/ToggleTheme";
import GithubIcon from "@/icons/GithubIcon";
import Search from '@/components/Search'
---

<header class="min-h-[80px] border-b border-neutral-300 dark:border-neutral-700 flex items-center justify-between transition duration-300 max-w-5xl mx-4 lg:mx-auto bg-transparent">

	<a href="/" class="btn text-secondary text-sm font-semibold">
		Home
	</a>

	<div class="flex gap-x-2">
		
		{ process.env.NODE_ENV === 'development' && (
			<div class="btn text-secondary text-sm font-semibold flex-center">
				<a href="http://localhost:4321/admin/index.html">
					Edit on CMS
				</a>
			</div>
		)}

		<a
			href="https://github.com/fran-gzz/blog-template"
			target="_blank"
			class="btn text-secondary"
		>
			
			<GithubIcon />
		</a>

		<Search/>
		
		<ToggleTheme/>
	</div>
</header>