---
import Layout from '@/layouts/Layout';
import Hero from '@/components/Hero';
import FormattedDate from '@/components/FormattedDate';

const { 
	id, 
	data: {
		title, description, pubDate, heroImage, category
	} 
} = Astro.props;
---

<Layout title={ title } description={ description }>
	<section 
		class="bg-neutral-100 dark:bg-neutral-900 transition duration-300"
		transition:name={`post ${ id } box`}
	>
		<Hero>
			<h1 
				class="font-serif text-4xl md:text-6xl text-primary text-wrap text-center" 
				transition:name={`post ${ id } title`}
			>
				{ title }
			</h1>
			<h2 class="text-sm text-secondary mt-2">
				<!-- TODO: Category debe redirigir a la sección filtrada x categorías -->
				<span transition:name={`post ${ id } category`}>
					{ category }
				</span>
				&#x2022;
				<FormattedDate 
					date={pubDate}
					transition:name={`post ${ id } date`}
				/>
			</h2>
		</Hero>
		<picture>
			{ heroImage && <img 
				class="rounded-md object-cover h-[200px] lg:h-[350px] w-full" 
				src={ heroImage } 
				alt={`Cover image of ${ title }`}
				transition:name={`post ${ id } image`}
			/>}
		</picture>
		<article id="blog-post">
			<slot />
		</article>
	</section>
</Layout>