---
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import BaseHead from '@/components/BaseHead'
import ThemeProvider from 'src/providers/ThemeProvider.astro'

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en'>
    <head>
        <BaseHead
            title={ title }
            description={ description }
        />
        <ThemeProvider/>
    </head>
    <body class='bg-neutral-100 dark:bg-neutral-900 transition duration-300'>
        <Header/>
        <main class='max-w-5xl mx-auto py-8 px-4'>
            <slot/>
        </main>
        <Footer/>
    </body>
</html>

